
.site-header{
   height:200px;
   background: linear-gradient(to right, rgba(17,17,17,0.1), rgba(17,17,17,0.3));
}

.site-header h1{
   line-height: 200px;
   font-size: 50px;
   font-weight: 400;
   text-align: center;
   word-spacing: 1px;
   color: #111;
}
.container{
   display: flex;
}